    /* 按钮基础样式 */
    :root {
        --Prozen-primary-color: #1890ff;
        --Prozen-success-color: #52c41a;
        --Prozen-warning-color: #faad14;
        --Prozen-error-color: #f5222d;
        --Prozen-info-color: #1890ff;
        --Prozen-heading-color: rgba(0, 0, 0, 0.85);
        --Prozen-text-color: rgba(0, 0, 0, 0.65);
        --Prozen-text-color-secondary: rgba(0, 0, 0, 0.45);
        --Prozen-border-color: #e8e8e8;
        --Prozen-border-radius: 12px;
        --Prozen-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    .message-container {
        width: auto;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        border-radius: var(--Prozen-border-radius);
        box-shadow: var(--Prozen-box-shadow);
        z-index: 9999;
    }

    .prozen-message {
        transform: translateX(-50%);
        animation: message-fade-in 0.3s ease-in-out;

        &-info {
            background-color: var(--Prozen-info-color);
            color: #fff;
        }

        &-success {
            background-color: var(--Prozen-success-color);
            color: #fff;
        }

        &-warning {
            background-color: var(--Prozen-warning-color);
            color: #fff;
        }

        &-error {
            background-color: var(--Prozen-error-color);
            color: #fff;
        }
    }